<div class="container">

    <form class="well form-horizontal" action=" " method="post" id="contact_form">
        <fieldset>

            <!-- Form Name -->
            <legend><center><h2><b>Registration Form</b></h2></center></legend><br>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">First Name</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="first_name" placeholder="First Name" class="form-control" type="text">
                    </div>
                </div>
            </div><br>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Last Name</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="last_name" placeholder="Last Name" class="form-control" type="text">
                    </div>
                </div>
            </div><br>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Email</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="email" placeholder="Email" class="form-control" type="email">
                    </div>
                </div>
            </div><br>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">UIN</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="uin" placeholder="UIN" class="form-control" type="text">
                    </div>
                </div>
            </div><br>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">DOH</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="dateofhire" placeholder="Date of Hire" class="form-control" type="date">
                    </div>
                </div>
            </div><br>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">pin</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input name="pin" placeholder="pin number" class="form-control" type="text">
                    </div>
                </div>
            </div><br>


            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Status</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select name="department" class="form-control selectpicker">
                            <option value="">Select status of newhire</option>
                            <option>New - 00</option>
                            <option>Step 1 - 01</option>
                            <option>Step 2 - 10</option>
                            <option>Step 3 - 11</option>
                            <option>Step 4 - 02</option>
                            <option>Step 5 - 20</option>
                            <option>Step 6 - 22</option>
                            <option>Step 7 - 03</option>
                            <option>Complete - 30</option>
                        </select>
                    </div>
                </div>
            </div><br>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <br>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="btn btn-warning">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>
    </div><!-- /.container -->